DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=weather

APP_URL=http://localhost:9000

WEATHER_API_KEY=

# GOOGLE SMTP Credentials (working with 2FA and app passwords)
SMTP_FROM=Weather App <noreply@weather.app>
SMTP_USER=email@example.com
SMTP_PASSWORD=password

BROADCAST_CRONS=[["daily", "0 0 * * *"],["hourly", "0 * * * *"]]

COMPOSE_BACKEND_PORT=3030